/*header*/
header{
    background-color: grey;
    height: 50px;
    position:sticky;
    top:0;
	right:0;
    left:0;
}

nav{
    height: 100%;
    width : 100%;
}

a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

ul{
    margin:0;
    list-style-type: none;
    text-align: center;
    height: 100%;
    width : 100%;   
}

li{
    display: inline-block;
    margin: 7px;
    padding: 7px;
}

.separator{
    border-right: 1px solid black;
}